In [1]:
from mplsoccer import Pitch, Sbopen
import matplotlib.pyplot as plt

# France vs Poland
MATCH_ID = 3869152

# get event and freeze frame data for game 7478
parser = Sbopen()
events, related, freeze, players = parser.event(MATCH_ID)

In [5]:
events.columns

Index(['id', 'index', 'period', 'timestamp', 'minute', 'second', 'possession',
       'duration', 'match_id', 'type_id', 'type_name', 'possession_team_id',
       'possession_team_name', 'play_pattern_id', 'play_pattern_name',
       'team_id', 'team_name', 'tactics_formation', 'player_id', 'player_name',
       'position_id', 'position_name', 'pass_recipient_id',
       'pass_recipient_name', 'pass_length', 'pass_angle', 'pass_height_id',
       'pass_height_name', 'end_x', 'end_y', 'body_part_id', 'body_part_name',
       'sub_type_id', 'sub_type_name', 'x', 'y', 'outcome_id', 'outcome_name',
       'under_pressure', 'aerial_won', 'out', 'off_camera',
       'foul_committed_advantage', 'foul_won_advantage', 'pass_switch',
       'pass_assisted_shot_id', 'pass_shot_assist', 'technique_id',
       'technique_name', 'shot_statsbomb_xg', 'end_z', 'shot_key_pass_id',
       'goalkeeper_position_id', 'goalkeeper_position_name', 'counterpress',
       'block_deflection', 'pass_cross', 'foul_won_defensive', 'pass_cut_back',
       'shot_first_time', 'foul_committed_card_id', 'foul_committed_card_name',
       'block_save_block', 'pass_goal_assist', 'pass_miscommunication',
       'pass_no_touch', 'substitution_replacement_id',
       'substitution_replacement_name', 'ball_recovery_recovery_failure',
       'foul_committed_penalty'],
      dtype='object')

In [17]:
events.groupby('outcome_name').out.unique()

outcome_name
Blocked                 [nan]
Claim                   [nan]
Complete                [nan]
Fail                    [nan]
Goal                    [nan]
In Play Danger          [nan]
In Play Safe            [nan]
Incomplete              [nan]
Lost In Play            [nan]
Lost Out                [nan]
No Touch                [nan]
Off T                   [nan]
Out                     [nan]
Pass Offside            [nan]
Saved                   [nan]
Success                 [nan]
Success In Play         [nan]
Success Out             [nan]
Tactical                [nan]
Touched In              [nan]
Touched Out             [nan]
Unknown                 [nan]
Wayward            [1.0, nan]
Won                     [nan]
Name: out, dtype: object

In [7]:
france = events[events['team_name'] == 'France']

In [13]:
france

,id,index,period,timestamp,minute,second,possession,duration,match_id,type_id,...,foul_committed_card_id,foul_committed_card_name,block_save_block,pass_goal_assist,pass_miscommunication,pass_no_touch,substitution_replacement_id,substitution_replacement_name,ball_recovery_recovery_failure,foul_committed_penalty
0,a4625118-fe93-450a-9ac3-ee01ce399a22,1,1,00:00:00,0,0,1,0.000000,3869152,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,35faf830-4fc9-4df5-8429-a11795bdcd13,3,1,00:00:00,0,0,1,0.000000,3869152,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,df1e38a8-9d45-47c2-9f7a-7652b6cc42eb,5,1,00:00:00.350000,0,0,2,1.291168,3869152,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5a891b0c-64db-43bb-bbdc-101fa0346bce,6,1,00:00:01.641000,0,1,2,NaN,3869152,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0856a6fa-e09c-4990-bff9-355d47308918,7,1,00:00:01.641000,0,1,2,0.193590,3869152,43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3606,6615f0a0-3df6-4810-b791-984a45afb457,3607,2,00:50:01.036000,95,1,151,1.462648,3869152,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3612,1097c405-dd98-42fa-9d5c-b1b49097b471,3613,2,00:50:03.513000,95,3,151,0.000000,3869152,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3613,cac5df40-ec81-4c45-ba7a-535d2669460e,3614,2,00:50:03.553000,95,3,151,0.000000,3869152,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3615,8d7a1329-78cd-435c-af16-6769fd9c54e6,3616,2,00:53:36.899000,98,36,152,0.000000,3869152,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3616,b58e7af3-5aa6-45f4-a16b-68342bd6d5ea,3617,2,00:54:16.099000,99,16,152,0.000000,3869152,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
france_goals = france[france['outcome_name']== "Goal"]

In [20]:
france_goals

,id,index,period,timestamp,minute,second,possession,duration,match_id,type_id,...,foul_committed_card_id,foul_committed_card_name,block_save_block,pass_goal_assist,pass_miscommunication,pass_no_touch,substitution_replacement_id,substitution_replacement_name,ball_recovery_recovery_failure,foul_committed_penalty
1708,3dfb5a79-95c5-4e66-88fb-ddf16a823d7b,1709,1,00:43:28.199000,43,28,73,0.973122,3869152,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2919,c5b96634-9e00-4135-a499-bdfc1c58b06a,2920,2,00:28:56.875000,73,56,121,0.591756,3869152,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3465,2d38130f-3d62-4369-8a2b-ec7866353b92,3466,2,00:45:05.776000,90,5,143,0.964389,3869152,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
france_action_1 = france.loc[france['index'].isin([1704, 1705, 1706, 1707, 1708, 1709])]

In [22]:
france_action_1

,id,index,period,timestamp,minute,second,possession,duration,match_id,type_id,...,foul_committed_card_id,foul_committed_card_name,block_save_block,pass_goal_assist,pass_miscommunication,pass_no_touch,substitution_replacement_id,substitution_replacement_name,ball_recovery_recovery_failure,foul_committed_penalty
1703,fe8bf981-4c40-4929-9fb0-bbe3a4122518,1704,1,00:43:25.938000,43,25,73,0.331502,3869152,43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1704,44668f7c-f6b9-49f3-b9f6-5eec1be71118,1705,1,00:43:26.270000,43,26,73,1.284148,3869152,30,...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
1706,5b84c94f-2b58-434a-9a71-7e06e840f63f,1707,1,00:43:27.554000,43,27,73,NaN,3869152,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1707,e106d093-4506-406a-a106-532e46672aab,1708,1,00:43:27.554000,43,27,73,0.645190,3869152,43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1708,3dfb5a79-95c5-4e66-88fb-ddf16a823d7b,1709,1,00:43:28.199000,43,28,73,0.973122,3869152,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Dokończyć